<h2 id="reveal">Reveal</h2>
<details class="" role="group">
  <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="details__summary">Click to reveal</span>
  </summary>

  <div class="details__content" id="details-content-0" aria-hidden="false">
    <div class="reading-width">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda beatae, dolor eaque eos expedita fugiat iure, laborum libero magnam magni natus non quasi quibusdam repellendus saepe sapiente, velit.</p>
    </div>
  </div>
</details>
