@import "../environment/settings/colours";
@import "../environment/tools/mixins/layout";
@import "../environment/tools/mixins/typography";
@import "../environment/tools/functions/asset-urls";

.site-header {
    position: relative;
    padding-top: 15px;
    margin-bottom: 10px;
    @include media(desktop) {
      margin-bottom: 0px;
    }
    &__brand a{
      text-decoration: none;
    }
    &__top {
      @include site-width-container;
    }

    &__search, &__menu-icon {
        display: inline-block;
        vertical-align: top;
    }

    &__menu-icon {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    &__search {
      width: 100%;
      .search__button {
        &.icon-Search {
          input {
            cursor: pointer;
          }
          &:after {
            content: "\e900";
            position: absolute;
            display: block;
            pointer-events: none;
            top: 0;
            font-size: 1.5em;
            padding: 10px;
          }
        }
      }
    }

    &__user-links {
      display: none;
    }

    @media (min-width: 700px) {
      &__brand {
        float: left;
      }
      &__controls {
        float: right;
      }
      &__menu-icon {
        position: relative;
        top: 0px;
        right: 0px;
      }
      &__search {
        width: 300px;
        top: 0px !important; //need important to override inline styles added by JS
      }
      &__nav {
        top: 0px !important; //need important to override inline styles added by JS
      }
    }

    @include media(desktop) {
      &__user-links {
        display: block;
      }
      .nhs-choices-logo {
        margin-top: 2em;
      }
    }

    .nhs-choices-logo {
        height: 55px;
        vertical-align: bottom;
        padding-bottom: 20px;
        @include media(desktop) {
            height: 35px;
            padding-bottom: 0px;
        }
    }

    &__tagline {
        vertical-align: baseline;
        color: $color-orange;
        font-size: 14px;
        font-weight: bold;
        padding-left: 0.5em;
        padding-bottom: 1px;

        display: none;
        @include media(desktop) {
            display: inline;
        }
    }

    &__nav {
        @include media(desktop) {
            margin-top: 10px;
        }
    }
}

.main-nav {
    background-color: $blue;
    color: $white;
    // when open, (on mobile) shift the menu above the search input
    a:hover{
      text-decoration: underline;
    }
    &--open {
      position: relative;
      top: -50px;
      @include media(desktop) {
        top: 0px;
      }
    }
    &__items {
        @include site-width-container;
        padding-bottom: 15px;
        display: none;
        .main-nav--open & {
            display: block;
        }
    }
    &__page-menu, &__account-menu {
      margin: 0px;
      padding: 0px;

      li {
          list-style-type: none;
          font-size: 18px;
          margin: 0px;
      }
      a, span {
          display: block;
          padding: 15px 0px;
          line-height: initial;
      }
    }
    &__page-menu {
      a {
          color: inherit;
          text-decoration: none;
      }
    }
    &__account-menu {
      background-color: white;
      color: $blue;
      a {
        text-decoration: underline;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    // Hide nested navigation on mobile
    ul li ul {
        display: none;
    }

    @include media(desktop) {
        &__menu-icon {
            display: none;
        }
        &__items {
          position: relative;
          display: block;
          padding: 4px 0 0 0;
        }
        // Justified horizontal list
        &__page-menu {
          display: flex;
          justify-content: space-between;
          // Downwards triangle after TOP-LEVEL links only
          > li > a:after {
            display: inline-block;
            content: '\00A0\e901'; // NBSP and down triangle
            font-size: 0.7em;
          }
          // menu without a dropdown
          .nodrop {
            &:hover {
              // no hover color change, only underline
              background-color: inherit;
              color: inherit;
              text-decoration: underline;
            }
            a:after {
              // no down arrow
              content: none;
            }
          }
          // sections that we are currently on should be underlined
          .active {
            text-decoration: underline;
          }
          li:hover {
            background-color: $white;
            color: $blue;
            ul {
              // show submenu on hover
              display: block;
            }

            // Force the top links to be 'over' the top of nested ULs
            // so that the box shadow is masked
            a {
              background-color: inherit;
              position: relative;
              z-index: 200;
            }
          }
          a, span {
            padding: 15px 15px 18px 15px;
          }
        }
        &__account-menu {
          display: none;
        }
        ul {
            width: 100%;

            li {
                display: inline-block;

                // last child should be right-aligned (overflow to the left)
                &:last-child ul {
                    right: 0px;
                }

                ul {
                    display: none;
                    width: auto;
                    position: absolute;
                    z-index: 100;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
                    padding-left: 0px;
                    padding-top: 0.5em;
                    background-color: $white;
                    li {
                        display: block;
                        text-align: left;
                        &:hover {
                            text-decoration: underline;
                        }
                        margin: 0px;
                        a, span {
                            padding: 7px 15px;
                        }
                        span {
                            color: $black;
                            font-weight: bold;
                        }
                        &:last-child {
                            font-weight: bold;
                            border-top: #d8dde0 1px solid;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}

.menu-icon {
    @include media(desktop) {
      display: none;
    }
    background-color: $blue;
    color: $white;
    height: 42px;
    a {
      color: $white;
      text-decoration: none;
    }
    &__link {
      line-height: 42px;
      padding: 0px 0.5em;

      &:after {
        content: '\00A0\25BC'; // NBSP and down triangle
        font-size: 0.7em;
        .menu-icon--open & {
          content: '\00A0\25B2';
        }
      }

    }
}

.search {
    position: relative;
    $search-box-height: 42px;

    &__input {
        width: 100%;
        border: 2px solid $blue;
        box-sizing: border-box;
        height: $search-box-height;
        padding: 12px;
        font-size: 17px;
        padding-right: $search-box-height;
    }

    &__button {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        background-color: $blue;
        color: $white;

        input[type="submit"] {
            padding: 0px;
            margin: 0px;
            border: none;
            background-color: transparent;
            height: $search-box-height;
            width: $search-box-height;
            font-size: $search-box-height / 2;
        }
    }
}

.user-links {
  padding-bottom: 0.5em;
  &__right-align {
    float: right;
  }
  a {
    color: #435562;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__translate {

  }

  &__login {
    padding-right: 1em;
    &:before {
      content: '\1F464\00A0'; //user icon
      font-size: 0.7em;
      display: inline-block;
    }
  }

  &__account {

  }
}
