.footer {
    font-size: 18px;
    ul {
      font-size: 18px;
    }

    background-color: $blue;
    color: $white;
    a {
        color: inherit;
    }

    ul {
      list-style-type: none;
      padding: 20px 0px;
      li {
        @include media(desktop) {
          display: inline-block;
          padding-right: 20px;
        }
      }
    }

    &__logo {
      margin-bottom: 10px;
      @include media(desktop) {
        margin-bottom: 0px;
      }
    }

    &__content {
        @include site-width-container;
    }

    &__main-links {
      ul {
        padding: 25px 0px;
      }
    }

    &__utility-links {
      background-color: $grey-1;
    }
}
