@import url("https://assets.nhs.uk/fonts/nhsuk-fonts-1.2.0.css");

$icon-Search: "\e900";
$icon-Chevron: "\e901";
$icon-External: "\e902";

@font-face {
  font-family: 'NHS-icons';
  src: url("https://www.nhs.uk/static/nhsuk/fonts/NHS-icons.a24aa6735c33.eot?1uyihd");
  src: url("https://www.nhs.uk/static/nhsuk/fonts/NHS-icons.a24aa6735c33.eot?1uyihd#iefix") format("embedded-opentype"),
       url("https://www.nhs.uk/static/nhsuk/fonts/NHS-icons.ba408e1faca5.ttf?1uyihd") format("truetype"),
      url("https://www.nhs.uk/static/nhsuk/fonts/NHS-icons.de00139c45ca.woff?1uyihd") format("woff"),
      url("https://www.nhs.uk/static/nhsuk/fonts/NHS-icons.dbd8d376760c.svg?1uyihd#NHS-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .main-nav__page-menu a:after, .external-link:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'NHS-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-External {
  &:after {
    content: $icon-External;
  }
}
.icon-Search {
  &:after {
    content: $icon-Search;
  }
}
.icon-Chevron {
  &:before {
    content: $icon-Chevron;
  }
}
